@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'momento-vf';
    src: url('/fonts/MomentoVF-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}